Repository AymaneMotad/DopeCard: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, bash -c 'tsc --noEmit', prettier --write

Stuff working
  .agentos/ui-elements/card-designs/Different type of cards design/card-type-design-inspiration.png
  .agentos/ui-elements/card-designs/Different type of cards design/card-types-inspiration.png
  .agentos/ui-elements/pdf-examples/Generated PDF once card created exampels/A4-pdf-inspiration.jpeg
  .agentos/ui-elements/pdf-examples/Generated PDF once card created exampels/card-creation-dashboard-inspiration.avif
  .agentos/ui-elements/pdf-examples/Generated PDF once card created exampels/dashboard-inspiration.avif
  .agentos/ui-elements/pdf-examples/Generated PDF once card created exampels/membership-inspiration-pdf.webp
  .agentos/ui-elements/scanner-app/Scanner-App/image.jpeg
  .agentos/ui-elements/scanner-app/Scanner-App/image_1.jpeg
  .agentos/ui-elements/scanner-app/Scanner-App/image_2.jpeg
  .agentos/ui-elements/scanner-app/Scanner-App/image_3.jpeg
  .agentos/ui-elements/scanner-app/Scanner-App/image_4.jpeg
  .agentos/ui-elements/scanner-app/Scanner-App/image_5.jpeg
  .agentos/ui-elements/scanner-app/Scanner-App/image_6.jpeg
  .agentos/ui-elements/scanner-app/Scanner-App/image_7.jpeg
  .agentos/ui-elements/scanner-app/Scanner-App/image_8.jpeg
  GENERIC_PASS_TYPE_ANALYSIS.md
  STORECARD_IMPLEMENTATION_PLAN.md
  app/admin/test-card/page.tsx
  app/api/auth/[...nextauth]/route.ts
  app/cards/create/page.tsx
  app/register/[cardId]/page.tsx
  app/utils/pass-generation/pass-generation.ts
  app/utils/pdf-generator-client.ts
  app/utils/pdf-generator-server.ts
  app/utils/pdf-generator.ts
  commonMitakes.md
  components/ui/switch.tsx
  db/schema.ts
  modules/pass-generation/card-type-mappers.ts
  modules/pass-generation/index.ts
  modules/pass-generation/pwa-generator.ts
  modules/shared/constants/index.ts
  package-lock.json
  package.json
  server/index.ts
  server/routers/cardsRouter.ts
  server/routers/passesRouter.ts
  server/routers/pdfRouter.ts
  server/routers/users.ts
  types/next-auth.d.ts
Due: eslint --fix, bash -c 'tsc --noEmit', prettier --write

UI Design
  app/admin/test-card/page.tsx
  app/cards/page.tsx
  components/cards/template-card.tsx
Due: eslint --fix, bash -c 'tsc --noEmit'

Checked
  HIGH_FIDELITY_DESIGN_UPDATE.md
  PASS_PREVIEW_FIX_SUMMARY.md
  app/admin/test-card/page.tsx
  app/utils/pass-generation/pass-generation.ts
  modules/pass-generation/card-type-mappers.ts
  server/routers/passesRouter.ts
  server/routers/users.ts
Due: eslint --fix, bash -c 'tsc --noEmit', prettier --write

Versioning
  vercel.json
Due: prettier --write

Checker
  pnpm-lock.yaml
  vercel.json
Due: prettier --write

Fix Vite
  vercel.json
Due: prettier --write

Passing test
  __tests__/modules/pass-generation/index.test.ts
Due: eslint --fix, bash -c 'tsc --noEmit'

Fixing build
  app/api/passes/v1/devices/[deviceLibraryIdentifier]/registrations/[passTypeIdentifier]/[serialNumber]/route.ts
  app/api/passes/v1/devices/[deviceLibraryIdentifier]/registrations/[passTypeIdentifier]/route.ts
  app/api/passes/v1/passes/[passTypeIdentifier]/[serialNumber]/route.ts
  app/globals.css
  app/page.tsx
  components/landing/animated-counter.tsx
  components/landing/animated-gradient.tsx
  components/landing/business-showcase.tsx
  components/landing/faq-item.tsx
  components/landing/feature-card.tsx
  components/landing/floating-card.tsx
  components/landing/glass-card.tsx
  components/landing/hero-section.tsx
  components/landing/index.ts
  components/landing/particle-background.tsx
  components/landing/scroll-indicator.tsx
Due: eslint --fix, bash -c 'tsc --noEmit', prettier --write

Test build
  app/api/passes/v1/devices/[deviceLibraryIdentifier]/registrations/[passTypeIdentifier]/[serialNumber]/route.ts
  app/api/passes/v1/devices/[deviceLibraryIdentifier]/registrations/[passTypeIdentifier]/route.ts
  app/api/passes/v1/passes/[passTypeIdentifier]/[serialNumber]/route.ts
  app/page.tsx
  components/landing/business-showcase.tsx
  components/landing/faq-item.tsx
  components/landing/hero-section.tsx
  components/landing/icons.tsx
  components/landing/index.ts
  components/landing/scroll-indicator.tsx
Due: eslint --fix, bash -c 'tsc --noEmit'

Fix build 1
  app/cards/create/page.tsx
  app/globals.css
  app/page.tsx
  components/landing/animated-gradient.tsx
  components/landing/floating-card.tsx
  components/landing/hero-section.tsx
  components/landing/particle-background.tsx
  components/ui/header.tsx
  package.json
Due: eslint --fix, bash -c 'tsc --noEmit', prettier --write

Fixed ui
  components/ui/header.tsx
Due: eslint --fix, bash -c 'tsc --noEmit'

Fix React Server Components CVE vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

stuff
  app/api/passes/v1/devices/[deviceLibraryIdentifier]/registrations/[passTypeIdentifier]/route.ts
  app/api/qstash-worker/route.ts
  lib/apns.ts
  server/routers/notificationsRouter.ts
Due: eslint --fix, bash -c 'tsc --noEmit'

overview
  PROJECT_OVERVIEW.md
Due: prettier --write

most fixed
  .env
  .env.bak
  app/admin/test-card/page.tsx
  app/api/debug/config/route.ts
  app/api/passes/v1/devices/[deviceLibraryIdentifier]/registrations/[passTypeIdentifier]/[serialNumber]/route.ts
  app/api/passes/v1/devices/[deviceLibraryIdentifier]/registrations/[passTypeIdentifier]/route.ts
  app/api/passes/v1/log/route.ts
  app/api/passes/v1/passes/[passTypeIdentifier]/[serialNumber]/route.ts
  app/cards/create/page.tsx
  app/utils/pass-generation/pass-generation.ts
  server/routers/cardsRouter.ts
  server/routers/passesRouter.ts
Due: eslint --fix, bash -c 'tsc --noEmit'

DOCUMENTAITON
  CALLBACK_DEBUGGING_GUIDE.md
  DEEP_ANALYSIS_RESULTS.md
  WEBSERVICE_CALLBACK_DEBUG.md
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  bash -c 'tsc --noEmit': any of: *.{ts,tsx}
  prettier --write: any of: *.{json,md,mdx,css,html,yml,yaml,scss}
